/*	COLORS
	white background= #FEFEFE
	blue outline= #5CA4D7
	4 shirts colors= #80BBE5 (blue), #D482AA (pink), #DCB07D (orange), #94BE9A (green) */

h1, h2, h3, h4, h5, h6, i, p, li {
	font-size: 15px;
	text-align: center;
}

* {
	box-sizing: border-box;
}

img {
	max-width:100%;
}

#container {
	width: 100%;
	display: block;
	margin: 0px auto;
	background-color: #FEFEFE;
}

/* these are the different divs within each shirt
.whole, .top, .middle, .flip, .love, .size, .color, .cart, .bottom */

.whole {							/* entire tshirt and menus */
	width: 25%;
	display: inline-block;
	margin: 40px 25px;
	margin-top: 10px;
	vertical-align: top;
}

.top {								/* tshirt only */
	border: 3px solid #5CA4D7;
	position: relative;
}

	.shirtFront {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
	}

	.shirtBack {
		display: block;
		transform: rotateY(180deg);
		box-sizing: border-box;
		text-align: center;
	}

	#spacer {
		padding-bottom: 10px;
		width: 100%;
		height: 100%;  					/* orange shirt bottom not aligning with other two */
	}

	.share {
		position: absolute;
		right: 0;
		top: 0;
		border-bottom: 3px solid #5CA4D7;
		border-left: 3px solid #5CA4D7;
		height: 38px;
		width: 38px;
		padding-bottom: 10px;
		color: #5CA4D7;
	}

.middle {
	font-size:0px;
	height: 50px;
}
/* 5 sections of .middle = .flip, .love, .size, .color, .cart  20% each */

	.flip {
		width: 20%;
		display: inline-block;
		border-bottom: 3px solid #5CA4D7;
		border-left: 3px solid #5CA4D7;
		color: #5cA4D7;
	}

	.love {
		width: 20%;
		display: inline-block;
		border-bottom: 3px solid #5CA4D7;
		border-left: 3px solid #5CA4D7;
		color: #5cA4D7;
	}

	.size {
		width: 20%;
		display: inline-block;
		border-bottom: 3px solid #5CA4D7;
		border-left: 3px solid #5CA4D7;
		border-right: 3px solid #5CA4D7;
		color: #5cA4D7;
		position: relative;
	}

		/* dropdown menus for .size */
		.dropdown-size {
			display: none;
			position: absolute;
			background-color: #FEFEFE;
			min-width: 50px;
			width: 150%;
			min-height: 100px;
			margin-top: -150px;
			border: 2px solid #5CA4D7;
			padding: 3px 8px;
			text-align: center;
			margin-left: -15px;     
		}

		.size:hover .dropdown-size {
			display: block;
			animation: contentDropIn .5s;
		}

		.arrow {
			position: absolute;
			width: 20px;
			height: 20px;
			display: inline-block;
			transform: rotate(45deg);
			background-color: #FEFEFE;
			border: 2px solid #5CA4D7;
			border-top: none;
			border-left: none;
			z-index: 2;
			margin-left: -10px;
			margin-top: 16px;
		}

		ul {
			list-style-type: none;
			color: #5CA4D7;
			margin-left: -40px;
		}

	.color {
		position: relative;
		width: 20%;
		display: inline-block;
		text-align: center;
		vertical-align: bottom;
		border-bottom: 3px solid #5CA4D7;
		color: #5cA4D7;
		height: 50px;
		
	}

		.swatch-container {
			position: relative;
		}

		.swatch {
			width: 25px;
			height: 25px;
			display: inline-block;
			background-color: #80BBE5;
			margin: 6px;
			padding: 15px; 
			position: relative;
			margin-left:4px;
		}

			/* change swatch blue to swatchBlue (html line 57) and repeat for pink & orange???

			.swatchBlue {
				color: #80BBE5;
				border: 2px solid white;

			.swatchPink {
				color: #D482AA;
				border: 2px solid white;

			.swatchOrange {
				color: #DCB07D;
				border: 2px solid white;
			}*/

			.blue, .pink, .orange, .green {
				background-color: #5CA4D7;
				border: 2px solid white;
			}

		/* dropdown menus for color */
		.dropdown-color {
			display: none;
			position: absolute;
			background-color: #FEFEFE;
			min-width: 85px;
			width: 43%;
			min-height: 60px;
			margin-top: -115px;		
			border: 2px solid #5CA4D7;
			padding: 3px 8px;
			z-index: 1;
		}

		.color:hover .dropdown-color {
			display: block;
			animation: contentDropIn .5s;
		}

		.arrowColor {
			position: absolute;
			width: 20px;
			height: 20px;
			display: inline-block;
			transform: rotate(45deg);
			background-color: #FEFEFE;
			border: 2px solid #5CA4D7;
			border-top: none;
			border-left: none;
			z-index: 2;
			margin-left: -39px;
			margin-top: 23px;
		}

		.colorSelect {
			height: 25px;
			width: 25px;
			display: inline-block;
			margin: 2px;
			/* for the entire thing */
		}

		#blue {
			background-color: #80BBE5; 
			margin-top: /* top, bottom, left, right */ ;
		}

		#pink {
			background-color: #D482AA;
		}

		#orange {
			background-color: #DCB07D;
		}

		#green {
			background-color: #94BE9A;
		}

	.cart {
		width: 20%;
		display: inline-block;
		border-bottom: 3px solid #5CA4D7;
		border-left: 3px solid #5CA4D7;
		border-right: 3px solid #5CA4D7;
		color: #5cA4D7;
	}

.share:hover, .flip:hover, .love:hover, .size:hover, .color:hover, .cart:hover {
	background-color: #5CA4D7;
	color: white;
}

/* end of 5 sections for middle */

.bottom {
	width: 100%;
	display: inline-block;
	font-size: 0px;
	color: #5cA4D7;
}

	.bottom p {
		display: inline-block;
		width: 80%;
		text-align: left;
	}

	.bottom h2 {
		display: inline-block;
		width: 20%;
		text-align: center;
	}

/* animation */
@keyframes contentDropIn {
  0% {
    opacity: 0;
    transform: translateY(-40px);

      }
  30% {
    opacity: .6;
    }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* "footer" area */

.shoppingCart {
	background-color: #5CA4D7;
	color: #FEFEFE;
	margin-top: -40px;
	padding-bottom: 15px;
	border-top: 2px solid #000000;
}

#cart_logo {
	background-color: #FEFEFE;
	color: #5CA4D7;
	margin-top: -10px;
	border-radius: 50%;
	border: 2px solid #000000;
	padding: 20px;
	margin-bottom: -50px;
}

.totals {
	margin-top: -20px;
}

#itemsInCart {
	width: 100%;
	/*height: 50px;*/
}

/* Make 3 tshirts stack vertically (one column) when browser "on sufficiently small screens" */
@media screen and (max-width: 990px) {
	.whole {
		width: 75%;
		display: block;
	}
}